POSTGRES_HOST=159.203.90.92
POSTGRES_PORT=5432
POSTGRES_DB=pilates
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

DATABASE_URL=postgresql://postgres:PASSWORD@159.203.90.92:5432/pilates
DATABASE_URL_UNPOOLED=postgresql://postgres:PASSWORD@159.203.90.92:5432/pilates

BETTER_AUTH_SECRET=genera-un-string-aleatorio-minimo-32-caracteres
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_S3=https://studio57.s3.us-east-1.amazonaws.com/

DB_DRIVER=sqlite
